cloud_id                 = "74jdhhr7kc8888888888"
folder_id                = "kk7uip1fkv7777777777"
zone                     = "ru-central1-a"
image_id                 = "4456gy31gb3333333333"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
subnet_id                = "55hyrg5ns93333444444"
service_account_key_file = "key.json"
yc_instance_name         = "reddit-app"
