cloud_id                 = "21gkusvikc0plb8giph2"
folder_id                = "21gqsc1fkv9f229k9ba2"
zone                     = "ru-central1-a"
image_id                 = "2d83r25bjdd57ecktmv2"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "29bfrg5ns9v3gir3gql2"
service_account_key_file = "key.json"
app_disk_image           = "2d8l6knh4ae8g1nou3i2"
db_disk_image            = "2d8r1mnisq11enfonro2"

