cloud_id                 = "b1gkusvikc0plb8giph1"
folder_id                = "b1gqsc1fkv9f229k9bal"
zone                     = "ru-central1-a"
image_id                 = "fd83r25bjdd57ecktmvr"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
service_account_key_file = "key.json"
subnet_id                = "e9bfrg5ns9v3gir3gqlg"
app_disk_image           = "fd8l6knh4ae8g1nou3i9"
db_disk_image            = "fd8r1mnisq11enfonroj"
