cloud_id                 = "fake"
folder_id                = "fake"
zone                     = "ru-central1-a"
image_id                 = "fake"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
service_account_key_file = "key.json"
subnet_id                = "fake"
app_disk_image           = "fake"
db_disk_image            = "fake"
